@model HealthcareSystem.Core.Entities.ForgetPassword;
<div style="font-family: 'Open Sans', sans-serif;">
    <h1>Password Reset</h1>
    <p>Hello, @Model.Email</p>
    <p>
        To reset the password, follow the link:
        <a style="word-wrap: break-word;"
           href="@Model.CallbackUrl">@Model.CallbackUrl
        </a>
    </p>
</div>
 