@if (doctors.length > 0) {
  <section class="my-section text-center">
    <h1 class="fs-2">Doctors to Book</h1>
    <p class="my-text text-secondary">
      Simply browse through our extensive list of trusted doctors.
    </p>
    <div class="my-list container gap-3">
      <div class="row g-3">
        @for (doctor of doctors(); track doctor.id) {
          <app-doctor-card
            class="col-3"
            [doctorImage]="'assets/' + doctor.imageUrl"
            [name]="doctor.name"
            [specialization]="doctor.specialization"
            doctorUrl=""
          ></app-doctor-card>
        }
      </div>
    </div>
  </section>
}
