@use "../../../../styles";

.my {
  &-section {
    margin: calc(4vmin + 32px) 0;
  }

  &-text {
    margin: calc(1vmin + 2px) 0;
  }

  &-list {
    margin-top: calc(2vmin + 4px);
  }

  &-card {
    min-width: calc(4vw + 100px);

    &:hover {
      color: styles.$color-accent;
    }

    &-image {
      width: calc(4vw + 40px);
      height: calc(4vw + 40px);
      transition: 0.3s ease-in-out;

      &:hover {
        filter: brightness(0.9);
      }
    }

    &-title {
      margin-top: 1vmin;
      transition: 0.3s ease-in-out;
    }
  }
}

/*
.section {
  margin-top: 64px;
  text-align: center;
}

.header {
  font-size: calc(2em - 4px);
  font-weight: 600;
}

.text {
  margin-top: 20px;
}

.list {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  justify-content: center;

  &-image {
    width: 100px;
    aspect-ratio: 1 / 1;
  }

  &-title {
    font-size: calc(1em - 2px);
  }
}
*/
