@use "../../../styles";

.my {
  &-card {
    margin: calc(1vmin + 16px) 0;
    padding: calc(16vmin + 20px) calc(8vmin + 10px);
  }

  &-background {
    right: 5%;
    bottom: 0;
    width: calc(120px + 30% + 5vw);
    height: auto;
    position: relative;
  }

  &-body {
    max-width: calc(120px + 10% + 15vw);
  }

  &-text {
    margin: 12px 0;
  }

  &-button {
    margin-top: 8px;
    padding: 10px 28px;
    font-size: calc(1em + 2px);
  }
}
