@use "../../../styles";

.my {
  &-card {
    margin: calc(4vmin + 16px) 0;
    padding: calc(8vmin + 20px) calc(6vmin + 10px);
  }

  &-background {
    right: 5%;
    bottom: -2px;
    width: calc(80px + 18% + 3vw);
    height: auto;
    position: relative;
  }

  &-body {
    max-width: calc(120px + 10% + 15vw);
  }

  &-text {
    margin: 12px 0;
  }

  &-button {
    margin-top: calc(1vmin + 8px);
    padding: 10px 28px;
    font-size: calc(1em + 2px);
  }
}
