@import "styles";

.Header {
  padding: 24px 0;
  border-bottom: 1px solid $color-accent-border;
}

.Logo {
  font-family: 'Montserrat', sans-serif;
}

.Link {
  transition: 0.3s ease-in-out;

  &:hover {
    color: $color-accent;
  }
}

.Button {
  padding: 8px 32px;
  border-radius: 100px;
  font-size: calc(1em + 2px);
}
