<header class="Header">
  <div class="row align-items-center">
    <div class="col">
      <span class="Logo fs-2 fw-bold text-primary">HealthcareSystem</span>
    </div>
    <nav class="col col-6 d-flex flex-row justify-content-center gap-5">
      @for (link of links; track link.title) {
        <a [href]="link.url" class="Link text-uppercase">
          {{ link.title }}
        </a>
      }
    </nav>
    <div class="col">
      <a href="" class="Button float-end btn btn-primary" role="button">Login</a>
    </div>
  </div>
</header>
