<header class="my-header">
  <div class="row align-items-center">
    <div class="col">
      <a routerLink="" class="my-logo fs-2 fw-bold text-primary">
        &#64;HealthcareSystem
      </a>
    </div>
    <nav class="col col-6 d-flex flex-row justify-content-center gap-5">
      @for (link of links; track link.title) {
        <a [routerLink]="link.url" class="my-link text-uppercase">
          {{ link.title }}
        </a>
      }
    </nav>
    <div class="col">
      <button
        type="button"
        routerLink="/login"
        class="my-button float-end btn btn-primary rounded-pill text-white"
        role="button"
      >
        Login
      </button>
    </div>
  </div>
</header>
