@import "variables";

.card {
  margin: 24px 0;
  padding: 180px 5%;
  color: hsl(0, 0%, 100%);
  background-image: url('/assets/images/promo-background.png');
  background-size: 700px;
  background-position: 90% bottom;
  background-repeat: no-repeat;
  background-color: $color-accent-40;
}

.header, .content, .actions {
  padding: 0;
}

.header, .content {
  max-width: 40%;
}

.header {
  &-title {
    font-size: 3em;
    font-weight: 600;
  }
}

.content {
  margin: 1em 0;
}

.actions {
  &-button {
    padding: 24px;
    border: none;
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 30%);
  }
}


