<div class="my-card card bg-primary position-relative">
  <div class="my-body text-light">
    <h1 class="card-title">Book Appointment With Trusted Doctors</h1>
    <p class="my-text">
      Simply browse through our extensive list of trusted doctors, schedule your
      appointment hassle-free.
    </p>
    <a class="my-button btn btn-light rounded-pill" role="button">
      <span>Book Appointment <i class="bi bi-arrow-right"></i></span>
    </a>
  </div>
  <img
    ngSrc="/assets/promo-background.webp"
    alt=""
    width="734"
    height="596"
    class="my-background position-absolute"
  />
</div>
