<mat-card appearance="outlined" class="card">
  <mat-card-header class="header">
    <mat-card-title class="header-title">
      Book Appointment With Trusted Doctors
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <p class="content-text">
      Simply browse through our extensive list of trusted doctors, schedule your
      appointment hassle-free.
    </p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-stroked-button type="button" class="actions-button">
      Book appointment
    </button>
  </mat-card-actions>
</mat-card>
