$color-accent-0: #000000;
$color-accent-10: #400014;
$color-accent-20: #670025;
$color-accent-25: #7b002e;
$color-accent-30: #900037;
$color-accent-35: #a60041;
$color-accent-40: #bc004b;
$color-accent-50: #e22661;
$color-accent-60: #ff4e7c;
$color-accent-70: #ff869d;
$color-accent-80: #ffb2bd;
$color-accent-90: #ffd9de;
$color-accent-95: #ffecee;
$color-accent-98: #fff8f7;
$color-accent-99: #fffbff;
$color-accent-100: #ffffff;
