@use "../../styles";

.my {
  &-card {
    border-radius: 500px;
  }

  &-image {
    width: 100% !important;
    height: auto;
  }

  &-body {
    padding: calc(1vmin + 8px);
  }

  &-text {

  }
}

/*
.card {
  // background-color: $color-accent-95;
}

.main {
  background-color: white !important;
  border-radius: 16px;

  & > * {
    padding: 0 24px;
  }
}

.image {
  max-width: 100%;
  height: auto;
}

.content {
  margin-top: 32px;

  &-name {
    font-weight: 500;
    font-size: calc(1em + 4px);
  }
}

.actions {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
  align-items: center;
  column-gap: 12px;

  &-chip {
    background: white !important;
  }

  &-button {
    font-weight: 500;
  }
}
 */

